.disabled > img {
    opacity: 50%;
}

select {
    position: relative;
    top: -8px;
}

.btn_arrow {
    display: inline-block;
    margin: 0 50px;
}

.play_div {
    text-align: center;
    user-select: none;
}

.row {
    height: 50px;
}

.cell {
    float: left;
    background-size: contain;
    background-position-x: right;
    height: 50px;
    width: 50px;
}

.player {
    height: inherit;
    width: inherit;
    margin-left: -20px;
    position: absolute;
    z-index: 3;
}

.place {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: -20px;
    position: absolute;
    z-index: 1;
}

.arrow {
    height: 40px;
    width: 40px;
    margin-left: -20px;
    position: absolute;
    z-index: 2;
}

.draggable {
    cursor: move;
}

.cell.highlight {
    border: 1px solid yellow;
}

.board {
    display: inline-block;
    margin: auto;
}

.place_creator {
    position: relative;
    background-image: url("./../img/rlboard/place_creator.png");
    background-size: contain;
    display: inline-block;
    width: 180px;
    height: 280px;
    margin-left: 40px;
    padding: 20px 0;
    cursor: pointer;
}

.place_creator > img {
    position: relative;
    margin: 8px;
}
