.btn_train {
    border: 2px solid palevioletred;
    background-color: rgba(0,0,0,0);
    color: palevioletred;
    padding-left: 8px;
    padding-right: 8px;
}

.btn_train:disabled {
    border: 1px solid palevioletred;
    padding-left: 7px;
    padding-right: 7px;
}

.btn_test {
    border: 2px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding-left: 8px;
    padding-right: 8px;
}

.btn_test:disabled {
    border: 1px solid skyblue;
    padding-left: 7px;
    padding-right: 7px;
}

.btn_reset {
    border: 2px solid lightgreen;
    background-color: rgba(0,0,0,0);
    color: lightgreen;
    padding-left: 8px;
    padding-right: 8px;
}

.btn_reset:disabled {
    border: 1px solid lightgreen;
    padding-left: 7px;
    padding-right: 7px;
}

.btn_arrow {
    display: inline-block;
    margin: 0 50px;
}

.btn_arrow > button:not(.btn_reset) {
    border: 2px solid pink;
    background-color: rgba(0,0,0,0);
    font-size: 30px;
    color: pink;
    padding: 16px 22px;
}

.play_div {
    text-align: center;
    user-select: none;
}

.row {
    height: 50px;
}

.cell {
    float: left;
    background-size: contain;
    background-position-x: right;
    height: 50px;
    width: 50px;
}

.player {
    height: inherit;
    width: inherit;
    margin-left: -20px;
    position: absolute;
    z-index: 3;
}

.place {
    height: 40px;
    width: 40px;
    margin-left: -20px;
    position: absolute;
    z-index: 1;
}

.arrow {
    height: 40px;
    width: 40px;
    margin-left: -20px;
    position: absolute;
    z-index: 2;
}

.draggable {
    cursor: move;
}

.cell.highlight {
    border: 1px solid yellow;
}

.board {
    display: inline-block;
    margin: auto;
}

.place_creator {
    position: relative;
    background-image: url("./../img/rlboard/place_creator.png");
    background-size: contain;
    display: inline-block;
    width: 180px;
    height: 280px;
    margin-left: 40px;
    padding: 20px 0px;
    cursor: pointer;
}

.place_creator > img {
    position: relative;
    margin: 8px;
}
